.ChatContainer {
  padding-top: 1rem;
  /* display: grid;
  grid-template-rows: 10% 75% 15%; */
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.user-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.chat-header .avatar img {
  height: 3rem;
}

.username h3 {
  color: white;
}
