.Messages {
  height: 75%;
  overflow: auto;
}

.chat-messages {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* overflow: auto; */
}

.message {
  display: flex;
  align-items: center;
}

.message .content {
  max-width: 40%;
  overflow-wrap: break-word;
  padding: 1rem;
  font-size: 1.1rem;
  color: #d1d1d1;
  border-radius: 1rem;
}

.sended {
  justify-content: flex-end;
  .content {
    background-color: #4f04ff21;
  }
}

.receive {
  justify-content: flex-start;
  .content {
    background-color: #9900ff20;
  }
}
