.Register {
  background-color: pink;
  padding: 50px;
  /* height: 100vh;
  width: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: #131324;
}

.Register .brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.Register img {
  height: 5rem;
}

.Register h1 {
  color: white;
  text-transform: uppercase;
}

.Register form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #00000076;
  border-radius: 2rem;
  padding: 3rem 5rem;
}

.Register input {
  background-color: transparent;
  padding: 1rem;
  border: 0.1rem solid #4e0eff;
  border-radius: 0.4rem;
  color: white;
  width: 100%;
  font-size: 1rem;
  transition: 400ms;
  &:focus {
    border: 0.1rem solid #997af0;
    outline: none;
    box-shadow: 0.1rem 0.1rem 0.1rem #997af0;
  }
}

.Register button {
  background-color: #4e0eff;
  color: white;
  padding: 1rem 2rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 1rem;
  text-transform: uppercase;
  transition: 400ms;
  &:hover {
    background-color: #997af0;
  }
}

.Register span {
  color: white;
  text-transform: uppercase;
}

.Register a {
  color: #4e0eff;
  text-transform: none;
  font-weight: bold;
  text-decoration: none;
}
