.Welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.Welcome img {
    height: 20rem;
}

.Welcome span {
    color: #4e0eff;
}